{% extends "CvFrontBundle::layout.html.twig" %}

{% block title "Mokrane Ahmane Accueil" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Bienvenue sur ma page</h1>
    <p> je suis {{ name }} </p>
{% endblock %}



